.container {
    margin: auto;
    width: 75%;
    font-family: sans-serif;
}

.site-title {
    color: teal;
}

.heading {
    color: teal;
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
}

.nav-link-item {
    padding-right: 2rem;
}

.nav-link-text {
    color: black;
}